@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@font-face {
    font-family: 'BW Haas Text Mono C 55 Rom Regular';
    src: url("/font/0970e3fd1aa7e6ff6937c76a583f3a30.eot");
    /* IE9*/
    src: url("/font/0970e3fd1aa7e6ff6937c76a583f3a30.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/font/0970e3fd1aa7e6ff6937c76a583f3a30.woff2") format("woff2"), /* chrome、firefox */
    url("/font/0970e3fd1aa7e6ff6937c76a583f3a30.woff") format("woff"), /* chrome、firefox */
    url("/font/0970e3fd1aa7e6ff6937c76a583f3a30.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/font/0970e3fd1aa7e6ff6937c76a583f3a30.svg#BW Haas Text Mono C 55 Rom Regular") format("svg");
    /* iOS 4.1- */
}

/*****************************************************************************/
/* 
/* Common 
/* 
/*****************************************************************************/
/* Global Reset */
* {
    -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
div {
    white-space: normal;
}
html {
    background-color: #111;
    font-size: 1.4em;
    font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, sans-serif;
}
html,
body {
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
h1 {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px 0;
    line-height: 1.1;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    margin: 0;
    position: relative;
}
h2 {
    font-size: 1.65em;
    padding-bottom: .3em;
}
h3 {
    font-size: 1.25em;
}
h5 {
    margin: 1 0 1em;
    padding: 10px 0;
    line-height: 1.1;
}
#home h1 {
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

#post h1 {
    margin: 0;
    letter-spacing: 1px;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    margin-bottom: 0;
    position: relative;
    font-weight: 800;
    font-size: 1.38rem;
    line-height: 1;
    word-wrap: break-word;
    clear: none;
    overflow: hidden;
    text-transform: uppercase;
    padding: 32px;
}
#post {
    column-count: 1;
    column-gap: 60px;
    column-rule: 3px solid #171717;
}
#post ul li a,
#post ul li a:active,
#post ul li a:visited {
    font-weight: bold;
    text-decoration: none;
    transition: all .23s ease;
    color: #82eeff;
}
#post h1::before {
    display: inline-block;
    content: "\21B3";
    margin: 10px;
    vertical-align: middle;
    color: #fff;
    font-size: 1em;
    padding: 0;
    position: absolute;
    top: 0;
    left: -.5em;
}
#post h1::before {
    font-size: .5em;
    animation: brandbls 1s cubic-bezier(0.24, 1.04, 0.38, 0.87) forwards infinite;
}
@keyframes brandbls {
    0% {
        content: '\25DC';
        color: rgba(255, 255, 255, 1);
    }
    2% {
        content: '\25DD';
    }
    4% {
        content: '\25DE';
    }
    6% {
        content: '\25DF';
    }
    8% {
        content: '\25DC';
        color: rgba(255, 255, 255, .5);
    }
    12.5% {
        content: '\25DD';
    }
    25% {
        content: '\25DE';
    }
    37.5% {
        content: '\25DF';
    }
    50% {
        content: '\25E0';
        color: rgba(255, 255, 255, 1);
    }
    62.5% {
        content: '  \25D7';
    }
    74% {
        content: '\25D2';
    }
    77% {
        content: '\25D6';
    }
    80% {
        content: '\2602';
    }
    85% {
        content: '\2638';
    }
    90% {
        content: '\262F';
        font-weight: 100;
    }
    90% {
        content: '\267D';
        font-weight: 500;
    }
    100% {
        content: '\262E';
        font-weight: 100;
    }
}
p {
    margin-top: 0;
    margin-bottom: 16px;
}
em {
    letter-spacing: -0.0123rem;
    font-weight: bold;
}
a,
a:active,
a:visited {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 1px #111;
    transition: all .23s ease;
}
a:hover {
    box-shadow: 0 1px;
    text-decoration: none;
    color: #fff;
}
#post p a,
#post p a:active,
#post p a:visited {
    color: #42c9ff;
    text-decoration: none;
    font-weight: normal;
    transition: all .2s ease;
}
#post p a:hover {
    color: #81e8ff;
    box-shadow: none;
    text-decoration: none;
    border-bottom: 0;
}
hr {
    margin: 1.5em 0 1em;
    width: 100%;
    height: 2px;
    background: #fff;
    padding: 0;
    border: 0;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: #fff;
    font-style: italic;
    position: relative;
    z-index: 20;
    padding-left: 20px;
    font-family: 'EB Garamond', Garamond, "Adobe Caslon Pro", "Hoefler Text", Times, serif;
    letter-spacing: .02em;
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 2em -2em;
    padding: .25em 3.25em;
    box-shadow: -10px 0 #005aff;
    box-shadow: none;
}
blockquote::before {
    content: 'dumb quote, probably out of context and ish lol';
    color: #fff;
    display: inline-block;
    margin-left: -1em;
    padding-bottom: 1em;
    font-weight: normal;
    font-style: normal;
    animation: blockanimation .5s ease forwards infinite;
}
@keyframes blockanimation {
    0%,
    100% {
        content: '\2598';
    }
    25% {
        content: '\259E';
    }
    50% {
        content: '\2583';
    }
    66% {
        content: '\2585';
    }
    75% {
        content: '\2599';
    }
}
table {
    display: block;
    width: 100%;
    overflow: auto;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
}
tbody {
    word-wrap: break-word;
}
table tr {
    background-color: #a3a3a3;
    border-top: 1px solid #82878d;
}
table tr:nth-child(2n) {
    background-color: #c1c1c1;
}
table td,
table th {
    padding: 6px 13px;
    border: 1px solid #222;
}
table:after,
table:before {
    display: table;
    content: "";
}
table thead tr th:nth-child(1),
table thead tr th:nth-child(2) {
    padding: 8px 13px;
    background: #000000;
    color: #fff;
    border: 0;
    border-top: 1px solid #000;
}
/*****************************************************************************/
/* 
/* Home 
/* 
/*****************************************************************************/
#home ul.posts li:before {
    list-style-type: none;
    position: absolute;
    margin-left: -1.5em;
    padding-right: 1em;
    content: '\203A';
    transition: margin-left .23s ease;
}
#home ul.posts {
    list-style-type: none;
    margin: .8em 0 4em;
    line-height: 1.4;
}
#home ul.posts li:hover:before {
    list-style-type: none;
    content: '\2192';
    margin-left: -1.3em;
}
ul.posts {
    list-style-type: none;
    margin: .8em 0 4em;
    line-height: 1.4;
}
#post ul,
#post ol {
    overflow: hidden;
}
#post ul li a,
#post ul li a:active,
#post ul li a:visited {
    font-weight: bold;
    text-decoration: none;
    transition: all .23s ease;
}
#post ul li a:hover,
#post ul li a:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 1px;
}
ul.posts span {
    color: #9e9e9e;
    font-size: 80%;
    letter-spacing: 0.0123em;
    margin-left: 10px;
}
#home ul.posts span {
    color: #fff;
}
/*****************************************************************************/
/* 
/* Site 
/* 
/*****************************************************************************/
.site {
    font-size: 16px;
    text-align: left;
    margin: 2em auto 0 auto;
    line-height: 1.5em;
    color: #fff;
    max-width: 50vw;
    min-width: 42em;
}
.title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 2em;
}
.site .title a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant: all-small-caps;
    box-shadow: none;
    transition: all .23s ease;
}
.site .title a:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 -1px;
}
.site .title a.extra {
    color: #fff;
    text-decoration: none;
    margin-left: 1em;
    text-transform: capitalize;
    transition: all .23s ease;
}
.site .title a.extra:hover {
    color: #fff;
    box-shadow: 0 -1px;
    text-decoration: none;
}
/* .site .title::before {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant: all-small-caps;
    content: 'ℭ';
    font-size: 1.5em;
    vertical-align: bottom;
    margin-left: 0;
    padding-right: 10px;
    animation:brandbls 2s 0 linear infinite;
}
@keyframes brandbls{
0, 100%{
    content:'ℭ';
}
50%{content:'ℳ';}
} */
.site .meta {
    border-radius: 0;
    color: rgba(255, 255, 255, .55);
    font-size: 10px;
    font-family: 'BW Haas Text Mono C 55 Rom Regular', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
    box-shadow: inset 0 0 0 2px rgb(51, 51, 51);
    text-transform: uppercase;
    padding: 8px 16px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 14px;
}
.site .footer {
    color: #fff;
    overflow: hidden;
    font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, sans-serif;
    background: #222;
    margin-bottom: 0;
    padding: 20px 30px;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    display: flex;
    height: 25px;
    line-height: 25px;
    position: relative;
}

.site .footer .contact p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 25px;
}
.site .footer .contact {
    margin: 0;
    display: flex;
    flex-grow: unset;
    flex: auto;
    justify-content: space-between;
}
.site .footer .contact a,
.site .footer .contact a:link,
.site .footer .contact a:active,
.site .footer .contact a:visited {
    transition: all .123s;
    box-shadow: none;
    color: #eee;
    text-decoration: none;
    border: none;
}
.last-cell a:active,
.last-cell a:hover {
    border: 0;
    text-decoration: none;
    box-shadow: none;
    outline: 0;
}
.site .footer .contact a:hover {
    text-decoration: underline;
    box-shadow: none;
    border: 0;
}
.site .footer .contact .last-cell a,
.site .footer .contact .last-cell a:link,
.site .footer .contact .last-cell a:active,
.site .footer .contact .last-cell a:visited {
    color: rgba(255, 255, 255, 0)!important;
}
.list-style-none {
    list-style: none!important;
}
svg {
    width: 30px;
    height: 30px;
}
.last-cell {
    margin-left: auto;
    /* aligns flex box to the right */
    right: 30px;
    top: 18px;
    position: absolute;
}

/*****************************************************************************/
/* 
/* Posts 
/* 
/*****************************************************************************/
/* standard */
#post pre {
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    line-height: 20px;
    resize: both;
    font-family: 'BW Haas Text Mono C 55 Rom Regular', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
    background: #000000;
    padding: 20px 30px;
    margin: 1em 0;
    box-shadow: inset 0 0 0 3px lime, inset 0 0 12px #b9b9b9;
}
.highlight {
    background: transparent;
}
@media print {
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        background: #fff;
        color: #f9f2f4;
        font-family: 'BW Haas Text Mono C 55 Rom Regular', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
    }
}
#post ul,
#post ol {
    margin-left: 1.35em;
}
#post code {
    color: #85ff00;
    background: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border: none;
    box-shadow: inset 0 0 0 1px;
    margin: 0;
}
#post > div > div > pre > code {
    color: lime;
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
code,
kbd,
pre,
samp {
    font-family: 'BW Haas Text Mono C 55 Rom Regular', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}
#post pre code {
    border: none;
    border-radius: 0;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
#post img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
code,
kbd {
    font-size: 10px;
    padding: 4px 10px 3px;
}
li code {
    border-radius: 4px;
    border: 0.1em solid;
}
li pre code {
    border: 0;
    box-shadow: none;
}
/* terminal */
#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}
#post pre.terminal code {
    background-color: #333;
}
#related {
    margin-top: 3.14em;
    overflow: hidden;
    position: relative;
    background: #222;
    padding: 30px 30px 0;
}
#related::after {
    height: 1px;
    content: '';
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    background: #434343;
    margin: 0 0 .5em;
}
#related h2 {
    margin: 0;
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
    width: auto;
    letter-spacing: 1px;
    box-shadow: none;
}
#related h2,
#related {
    color: #fff;
}
#related a,
#related a:link,
#related a:active,
#related a:visited {
    padding: 2px 4px;
    margin-left: 10px;
}
#related ul li a,
#related ul li a:link,
#related ul li a:active,
#related ul li a:visited {
    font-weight: bold;
    color: #10a110;
    text-decoration: none;
    transition: all .23s ease;
    line-height: 1.75;
    box-shadow: 0 1px #333;
}
#related ul li a:hover {
    box-shadow: 0 1px #10a110;
}
#related ul.posts {
    list-style-type: none;
    margin: 1.5em 0;
    line-height: .5;
}
#totop {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 0 1px #111;
    background: #111;
    float: right;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    *,
    html,
    body {
        font-size: 100%;
    }
    body {
        font-size: calc(1vw + 24px);
    }
    .site {
        width: 100%;
        padding: 0 30px;
    }
    h1 {
        line-height: 1.1;
    }
    #post pre {
        font-size: 1.1em;
        padding: 1.1em .5em;
    }
}
